body {
  box-sizing: border-box;
}

.navbar {
  height: 60px;
}

.form-logo {
  display: block;
  margin: 25px auto;
  width: 100%;
}

.form-control {
  width: 30em;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  width: 10em;
  height: 42px;
  border-radius: 10px;
}

.btn-lg {
  width: 24em;
  margin: 0 auto;
}

.banner-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Moon-event.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

p {
  font-size: 1.2em;
}

.banner {
  margin: 0;
  padding: 10em;
}

.user_name{
  font-size:14px;
  font-weight: bold;
}
.comments-list .media{
  border-bottom: 1px dotted #ccc;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* SOCIAL */

.fa {
  padding: 15px;
  font-size: 30px;
  width: 45px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}


/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}